﻿@inject IAuthManager authManager
    <!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml">
    <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <!--[if IE]>
            <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
            <![endif]-->
        <title>TRAVEL FORUM</title>
        <!-- BOOTSTRAP CORE STYLE  -->
        <link href="~/assets/css/bootstrap.css" rel="stylesheet" />
        <!-- FONT AWESOME STYLE  -->
        <link href="~/assets/css/font-awesome.css" rel="stylesheet" />
        <!-- CUSTOM STYLE  -->
        <link href="~/assets/css/style.css" rel="stylesheet" />
        <!-- GOOGLE FONT -->
        <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css' />

    </head>
    <body>
        <header class="navbar navbar-inverse set-radius-zero">

                <div class="container">
                    <div class="navbar-header">
                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                            <span class="icon-bar"></span>
                        </button>
                        <a class="navbar-brand" href="https://www.telerikacademy.com">
                            <img class="img-fluid img-rounded img-circle" height="50" width="50" src="https://yt3.ggpht.com/ytc/AMLnZu-s7szVHEO7FRwbboSBtwzn-os7_o7NNT4EyJmohg=s900-c-k-c0x00ffffff-no-rj" />
                        </a>
                        <div class="text-capitalize text-success d-inline-block">A simmple forum for travellers. Share your experience with everyone</div>
                    </div>


                    <div class="right-div container-fluid m-auto nav-tabs-justified">
                        @if (this.authManager.CurrentUser == null)
                        {
                            <a asp-controller="Users" asp-action="Register" class="btn btn-info btn-outline-dark pull-right">Register</a>
                            <span class="pull-right">|</span>
                            <a asp-controller="Users" asp-action="Login" class="btn btn-success btn-outline-dark pull-right">Log in</a>

                        }
                        else
                        {
                            <a asp-controller="Users" asp-action="Profile" class="btn btn-primary btn-outline-dark pull-right">@this.authManager.CurrentUser.Username</a>
                            <span class="pull-right">|</span>
                            <a asp-controller="Users" asp-action="Logout" class="btn btn-danger pull-right">LOG ME OUT</a>
                        }
                    </div>
                </div>
            <!-- LOGO HEADER END-->
            <section class="menu-section">
                <div class="container">
                    <div class="row ">
                        <div class="col-md-12">
                            <div class="navbar-collapse collapse ">
                                <ul id="menu-top" class="nav navbar-nav navbar-right">
                                    <li><a asp-controller="Home" asp-action="Index">HOME PAGE</a></li>
                                    @if (this.authManager.CurrentUser != null)
                                    {
                                        <li><a asp-controller="Users" asp-action="Profile" class="menu-top-i">DASHBOARD</a></li>
                                    }
                                    <li><a asp-controller="Users" asp-action="Index">USERS</a></li>
                                    <li><a asp-controller="Posts" asp-action="Index">POSTS</a></li>

                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
        </header>
        <div class="container">
            <main role="main" class="pb-3">
                @RenderBody()
            </main>
        </div>
        <footer class="footer-section">
            <!-- CONTENT-WRAPPER SECTION END-->
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        &copy; 2022 Forum Web Team Project (Telerik Academy Alpha 41) |<a href="http://www.binarytheme.com/" target="_blank"> Designed by : binarytheme.com</a>
                    </div>
                </div>
            </div>
            <!-- FOOTER SECTION END-->
        </footer>
        <!-- JAVASCRIPT FILES PLACED AT THE BOTTOM TO REDUCE THE LOADING TIME  -->
        <!-- CORE JQUERY  -->
        <script src="~/assets/js/jquery-1.10.2.js"></script>
        <!-- BOOTSTRAP SCRIPTS  -->
        <script src="~/assets/js/bootstrap.js"></script>
        <!-- CUSTOM SCRIPTS  -->
        <script src="~/assets/js/custom.js"></script>
        @RenderSection("Scripts", required: false)
    </body>
</html>
