﻿@model LogInDTO
<!-- WE CAN DO THIS WITH 2 MEDIA BODIES - pull-left and pull-rigth-->

<br />
<div class="col-xs-5 col-md-6 col-xs-offset-0 col-md-offset-3">
    <div class="panel panel-info">
        <div class="panel-heading">
            LOG IN
        </div>
        <div class="panel-body">
            <form role="form" asp-controller="Users" asp-action="Login" method="post">
                <div class="col-md-5 col-xs-offset-0 col-md-offset-3  m-auto d-flex">
                    <div class="form-group">
                        <input asp-for="@this.Model.Username" type="text" placeholder="Username">
                        <br />
                        <span class="text-danger" asp-validation-for="@this.Model.Username"></span>
                    </div>
                    <div class="form-group">
                        <input asp-for="@this.Model.Password" type="password" placeholder="Password">
                        <br />
                        <span class="text-danger" asp-validation-for="@this.Model.Password"></span>
                    </div>
                    <br />
                    <span class="col-xs-5 col-xs-offset-0 col-md-offset-3">
                        <input type="submit" class="btn btn-primary" value="Log in">
                        <a asp-controller="Users" asp-action="Register">Register</a>
                    </span>
                </div>
            </form>
        </div>
    </div>

</div>





