﻿@model FMS.MVC.Models.User.ProfileViewModel
@inject IAuthManager authManager


<div class="row">
    <div class="col-md-4 col-sm-4 col-xs-12">
        <div class="panel panel-default">
            <div class="panel-heading">
                <div class="profile-sidebar">
                    <div class="portlet light profile-sidebar-portlet ">
                        <div class="profile-userpic">
                            <img src="~/assets/img/user2.png" class="img-responsive" alt="">
                        </div>
                        <div class="profile-usertitle">
                            <h3 class="profile-usertitle-name">@this.authManager.CurrentUser.Username</h3>
                            <h4 class="profile-usertitle-job"> @this.authManager.CurrentUser.FirstName @this.authManager.CurrentUser.LastName </h4>
                        </div>
                        <h5> User ID : @this.authManager.CurrentUser.Id</h5>
                        <div class="panel panel-success" a></div>
                        <div class="profile-usermenu">
                            <ul class="nav">
                                <li>
                                    <a asp-controller="Users" asp-action="Settings" class="btn btn-success btn-outline-dark pull-left">Settings</a>
                                </li>
                            </ul>
                        </div>
                    </div>

                    <div>
                        <h4 class="profile-desc-title">About  @this.authManager.CurrentUser.FirstName @this.authManager.CurrentUser.LastName</h4>
                        <span class="profile-desc-text"> @this.authManager.CurrentUser.PersonalInfo </span>
                        <div class="margin-top-20 profile-desc-link">
                            <i class="fa fa-globe"></i>
                            <a href="https://www.telerikacademy.com/">www.telerikacademy.com/</a>
                        </div>
                        <div class="margin-top-20 profile-desc-link">
                            <i class="fa fa-twitter"></i>
                            <a href="https://twitter.com/TelerikAcademy">Telerik Academy</a>
                        </div>
                        <div class="margin-top-20 profile-desc-link">
                            <i class="fa fa-facebook"></i>
                            <a href="https://www.facebook.com/TelerikAcademy">Telerik Academy</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="col-md-4 col-sm-8 col-xs-12">
        <div class="panel panel-success" a>
            <div class="panel-heading">
                @this.authManager.CurrentUser.Username STATS
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Posts</th>
                                <th>Comments</th>
                                <th>Replies</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                <td>@this.Model.PostCount</td>
                                <td>@this.Model.CommentsCount</td>
                                <td>@this.Model.RepliesCount</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>


    <div class="col-md-4 col-sm-8 col-xs-12">
        <div class="panel panel-success" a>
            <div class="panel-heading">
                RECENT POST BY @this.authManager.CurrentUser.Username
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-striped table-bordered table-hover">
                        <thead>
                            <tr>
                                <th>Title</th>
                                <th>Description</th>
                                <th>Created On</th>
                            </tr>
                        </thead>
                        <tbody>
                            <tr>
                                @foreach (var post in this.Model.PostsByUser)
                                {
                                    <td>@post.Title</td>
                                    <td>@post.Description</td>
                                    <td>@post.CreatedOn</td>
                                }
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>



