﻿@model RegisterViewModel

@{
    ViewData["Title"] = "Register";
}

<h1>Create Acount</h1>

<h4>...And join in our comunity ;)</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Register">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@this.Model.Username" class="control-label"></label>
                <input asp-for="@this.Model.Username" class="form-control" />
                <span asp-validation-for="@this.Model.Username" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@this.Model.Password" class="control-label"></label>
                <input asp-for="@this.Model.Password" class="form-control" />
                <span asp-validation-for="@this.Model.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@this.Model.ConfirmPassword" class="control-label"></label>
                <input asp-for="@this.Model.ConfirmPassword" class="form-control" />
                <span asp-validation-for="@this.Model.ConfirmPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@this.Model.FirstName" class="control-label"></label>
                <input asp-for="@this.Model.FirstName" class="form-control" />
                <span asp-validation-for="@this.Model.FirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@this.Model.LastName" class="control-label"></label>
                <input asp-for="@this.Model.LastName" class="form-control" />
                <span asp-validation-for="@this.Model.LastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@this.Model.Email" class="control-label"></label>
                <input asp-for="@this.Model.Email" class="form-control" />
                <span asp-validation-for="@this.Model.Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@this.Model.PhoneNumber" class="control-label"></label>
                <input asp-for="@this.Model.PhoneNumber" class="form-control" />
                <span asp-validation-for="@this.Model.PhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <form action="/action_page.php">
                    <input type="file" id="myFile" name="filename">
                    <input type="submit">
                </form>
                <label asp-for="@this.Model.Photo" class="control-label"></label>
                <input asp-for="@this.Model.Photo" class="form-control" />
                <span asp-validation-for="@this.Model.Photo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Register" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}