﻿@model FMS.MVC.Models.Users.SettingsViewModel

<h1>Account Settings</h1>

<h4>Change your personal info</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Settings">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="@this.Model.Password" class="control-label"></label>
                <input asp-for="@this.Model.Password" class="form-control" />
                <span asp-validation-for="@this.Model.Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@this.Model.ConfirmNewPassword" class="control-label"></label>
                <input asp-for="@this.Model.ConfirmNewPassword" class="form-control" />
                <span asp-validation-for="@this.Model.ConfirmNewPassword" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@this.Model.NewFirstName" class="control-label"></label>
                <input asp-for="@this.Model.NewFirstName" class="form-control" />
                <span asp-validation-for="@this.Model.NewFirstName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@this.Model.NewLastName" class="control-label"></label>
                <input asp-for="@this.Model.NewLastName" class="form-control" />
                <span asp-validation-for="@this.Model.NewLastName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@this.Model.NewEmail" class="control-label"></label>
                <input asp-for="@this.Model.NewEmail" class="form-control" />
                <span asp-validation-for="@this.Model.NewEmail" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@this.Model.NewPhoneNumber" class="control-label"></label>
                <input asp-for="@this.Model.NewPhoneNumber" class="form-control" />
                <span asp-validation-for="@this.Model.NewPhoneNumber" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@this.Model.PersonalInfo" class="control-label"></label>
                <input asp-for="@this.Model.PersonalInfo" class="form-control" />
                <span asp-validation-for="@this.Model.PersonalInfo" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="@this.Model.NewPhoto" class="control-label"></label>
                <input asp-for="@this.Model.NewPhoto" class="form-control" />
                <span asp-validation-for="@this.Model.NewPhoto" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Change" class="btn btn-primary" />
                <a asp-controller="Users" asp-action="Profile" class="btn btn-primary btn-warning btn-outline-primary">Don't change</a>
            </div>

        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}