﻿@model HomeViewModel
@inject IAuthManager authManager
@*VARIALBES*@
@{
    int collapseCount = 1;
    var homeRouteParams = new Dictionary<string, Dictionary<string, string>>
{
        {"posts", new Dictionary<string, string> { {"postId", null }, }},
        {"comments", new Dictionary<string, string> { { "commentId", null } } }
    };

    var currentUser = this.authManager.CurrentUser;

    var userIsLoggedIn = currentUser != null;
    var isAdmin = false;
    if (userIsLoggedIn)
    {
        isAdmin = currentUser.Role == Role.Admin;
    }

}

<!-- MENU SECTION END-->
<div class="content-wrapper">
    <div class="container">
        <div class="row">

            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="alert alert-info back-widget-set text-center">
                    <i class="fa fa-user fa-5x"></i>
                    <h3>@(this.Model.UsersCount + this.Model.AdminsCount)+</h3>
                    <h2>Users</h2>
                </div>
            </div>
            <div class="col-md-6 col-sm-6 col-xs-6">
                <div class="alert alert-success back-widget-set text-center">
                    <i class="fa fa-image fa-5x"></i>
                    <h3>@this.Model.PostsCount+</h3>
                    <h2>Posts</h2>
                </div>
            </div>
        </div>
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div id="carousel-example" class="carousel slide slide-bdr" data-ride="carousel">

                    <div class="carousel-inner">
                        <div class="item active">

                            <img src="~/assets/img/1.jpg" alt="" />

                        </div>
                        <div class="item">
                            <img src="~/assets/img/2.jpg" alt="" />

                        </div>
                        <div class="item">
                            <img src="~/assets/img/3.jpg" alt="" />

                        </div>
                    </div>
                    <!--INDICATORS-->
                    <ol class="carousel-indicators">
                        <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
                        <li data-target="#carousel-example" data-slide-to="1"></li>
                        <li data-target="#carousel-example" data-slide-to="2"></li>
                    </ol>
                    <!--PREVIUS-NEXT BUTTONS-->
                    <a class="left carousel-control" href="#carousel-example" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                    </a>
                    <a class="right carousel-control" href="#carousel-example" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                    </a>
                </div>
            </div>

        </div>

        <br />
        <div class="row">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        Recent Users
                    </div>
                    <div class="panel-body text-center recent-users-sec">
                        <img class="img-thumbnail" src="~/assets/img/user.gif" />
                        <img class="img-thumbnail" src="~/assets/img/user2.png" />
                        <img class="img-thumbnail" src="~/assets/img/user.gif" />
                        <img class="img-thumbnail" src="~/assets/img/user2.png" />
                        <img class="img-thumbnail" src="~/assets/img/user.gif" />
                        <img class="img-thumbnail" src="~/assets/img/user2.png" />
                        <img class="img-thumbnail" src="~/assets/img/user.gif" />
                        <img class="img-thumbnail" src="~/assets/img/user2.png" />
                        <img class="img-thumbnail" src="~/assets/img/user.gif" />
                    </div>
                </div>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        Our most active users
                    </div>
                    <div class="panel-body">
                        <div class="table-responsive">
                            <table class="table table-striped table-bordered table-hover">
                                <thead>
                                    <tr>
                                        <th>Id</th>
                                        <th>Username</th>
                                        <th>Posts</th>
                                        <th>Comments</th>
                                        <th>Replies</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var user in this.Model.MostActiveUsers)
                                    {
                                        <tr>
                                            <td>@user.Id</td>
                                            <td><a asp-controller="Users" asp-action="@user.Id">@user.Username</a></td>
                                            <td>@user.UserPosts.Count()</td>
                                            <td>@user.UserComments.Count()</td>
                                            <td>@user.UserReplies.Count()</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div class="row">

            <div class="col-md-12 col-sm-12 col-xs-12">
                <div class="panel panel-info">
                    <div class="panel-heading">
                        <h2>
                            Recent Posts
                            <a class="btn btn-default" asp-controller="Posts" asp-action="All">View all the rest...</a>
                        </h2>
                    </div>
                    <div class="panel-body">
                        <ul class="media-list">
                            @foreach (var post in this.Model.MostCommentedPosts)
                            {
                                homeRouteParams["posts"]["postId"] = post.Id.ToString();
                                var postParams = homeRouteParams["posts"];
                                <li class="media">
                                    <!-- User photo / avatar -->
                                    <div class="pull-left">
                                        <a href="#">
                                            <img class="media-object img-circle img-comments" src="~/assets/img/user.gif" />
                                        </a>
                                        <p class="text-default d-inline pull-left"><a>@post.Author</a></p>
                                        <p>@post.CreatedOn.ToShortDateString()</p>
                                        @if (userIsLoggedIn && isAdmin)
                                        {
                                            <a class="btn btn-danger pull-left" href="google.com">Delete post</a>
                                        }

                                    </div>

                                    <div class="media-body">
                                        <h4 class="media-heading">@post.Title</h4>
                                        <p>@post.Description</p>

                                        @if (!userIsLoggedIn)
                                        {
                                            <a asp-controller="Users" asp-action="Login" class="btn btn-info">Login to leave a comment</a>
                                        }
                                        else
                                        {
                                            <a asp-controller="Comments" asp-action="Create" asp-all-route-data="postParams" class="btn btn-info">Leave a comment</a>
                                            if (currentUser.Id == post.AuthorId)
                                            {
                                                <a asp-controller="Posts" asp-action="Edit" asp-all-route-data="postParams" class="btn btn-default">Edit</a>
                                                <a asp-controller="Posts" asp-action="Delete" asp-all-route-data="postParams" class="btn btn-danger">Delete</a>
                                            }

                                        }
                                        <br />
                                        <br />
                                        <!-- NESTED ELEMENT FOR COMMENTS-->
                                        @if (post.PostComments.Count() != 0)
                                        {
                                            string currentAcordionId =
                                            (post.Id.ToString() +
                                            post.AuthorId.ToString() +
                                            $"_{post.Author}");

                                            <div class="coll-md-12">
                                                <div class="panel panel-warning">
                                                    <div class="panel-body bg-warning">
                                                        <div class="panel-group" id="CommentsAccordion">
                                                            <div class="panel-heading panel-warning">
                                                                <div class="panel-title">
                                                                    <a data-toggle="collapse" data-parent="#CommentsAccordion" href="#@currentAcordionId" class="">
                                                                        <h4>Click to view the discussion</h4>
                                                                    </a>
                                                                </div>
                                                            </div>
                                                            <div id="@currentAcordionId" class="panel-collapse collapse " style="height: 0px;">

                                                                @foreach (var comment in post.PostComments)
                                                                {
                                                                    homeRouteParams["comments"]["commentId"] = comment.Id.ToString();
                                                                    var commentRouteParams = homeRouteParams["comments"];

                                                                    string username = comment.User.Username;

                                                                    string collapseId = username + collapseCount;

                                                                    <div class="panel-group" id="accordion">
                                                                        <div class="panel panel-default">
                                                                            <div class="panel-heading">
                                                                                <h4 class="panel-title">
                                                                                    <a data-toggle="collapse" data-parent="accordion" href="#@collapseId" class="collapsed">View comment by @comment.User.Username</a>
                                                                                </h4>
                                                                                <div id="@collapseId" class="panel-collapse collapse " style="height: 0px;">
                                                                                    <div class="panel-body ">
                                                                                        <div class="media pull-left">
                                                                                            <div class="pull-left">
                                                                                                <a href="#">
                                                                                                    <img class="media-object img-circle img-comments" src="~/assets/img/user.gif" />
                                                                                                </a>
                                                                                                <p class="text-default d-inline pull-left"><a>@comment.User.Username</a></p>
                                                                                                <p>@comment.CreatedOn.ToShortDateString()</p>
                                                                                            </div>
                                                                                        </div>
                                                                                        <div class="media-body container-fluid">
                                                                                            @comment.Content
                                                                                            <br />
                                                                                            <br />
                                                                                            @if (userIsLoggedIn)
                                                                                            {
                                                                                                <a asp-controller="Replies" asp-action="Create" asp-all-route-data="@commentRouteParams" class="btn btn-warning pull-left">Reply</a>
                                                                                                @if (currentUser.Role == Role.Admin)
                                                                                                {
                                                                                                    <a asp-controller="Comments" asp-action="Delete" asp-all-route-data="@commentRouteParams" class="btn btn-danger">Delete</a>
                                                                                                }
                                                                                                else if (currentUser.Id == comment.UserId)
                                                                                                {
                                                                                                    <a asp-controller="Comments" asp-action="Edit" asp-all-route-data="@commentRouteParams" class="btn btn-default">Edit</a>
                                                                                                    <a asp-controller="Comments" asp-action="Delete" asp-all-route-data="@commentRouteParams" class="btn btn-danger">Delete</a>
                                                                                                }
                                                                                            }

                                                                                            @if (comment.Replies.Count() != 0)
                                                                                            {
                                                                                                <a asp-controller="Replies" asp-action="All" asp-all-route-data="@commentRouteParams" class="btn btn-default pull-right">View all replies</a>
                                                                                            }

                                                                                        </div>
                                                                                    </div>
                                                                                </div>
                                                                            </div>
                                                                        </div>
                                                                    </div>

                                                                    collapseCount++;
                                                                }

                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>

                                        }


                                    </div>

                                </li>
                            }
                        </ul>
                        <hr />
                    </div>
                </div>

            </div>
        </div>

    </div>
</div>
