﻿@model CommentInputDTO
@inject IPostsService posetsService
@inject IAuthManager authManager

@{
    var post = this.posetsService.GetById(this.Model.PostId);
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>
                You are writing a comment for: <a asp-controller="Posts" asp-action="Details" asp-route-postId="@this.Model.PostId">@post.Title</a>
            </h2>
        </div>
        <div class="panel-body">
            <div class="media pull-left">
                <div class="pull-left">
                    <a href="#">
                        <img class="media-object img-circle img-comments" src="~/assets/img/user.gif" />
                    </a>
                    <p class="text-info d-inline pull-right"><a>User details</a></p>
                    <p>@post.CreatedOn.ToShortDateString()</p>
                    @if (this.authManager.CurrentUser != null && this.authManager.CurrentUser.Role == Role.Admin)
                    {
                        <a class="btn btn-danger pull-left" asp-controller="Posts" asp-action="Delete" asp-route-id="@post.Id">Delete post</a>
                    }
                </div>
                <div class="media-body container-fluid">
                    <h4 class="media-heading">@post.Title</h4>
                    <p>@post.Description</p>
                </div>
                <br />
                <br />
                <div class="panel">
                    <div class="panel-body">
                        <form asp-controller="Comments" asp-action="Create" asp-route-postId="@this.Model.PostId" method="post">
                            <div class="form-group">
                                <textarea asp-for="@this.Model.Content" class="form-control" rows="5" placeholder="Write your comment here"></textarea>
                                <span asp-validation-for="@this.Model.Content" class="text-danger"></span>
                                <br />
                                <button type="submit" class="btn btn-info">Create comment </button>
                                <a asp-controller="Home" asp-action="Index" class="btn btn-outline-warning">Go back</a>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>




