﻿@model Comment
@inject IAuthManager authManager

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>
                You are about to delete this comment. Are you sure?
            </h2>
        </div>
        <br />
        <div class="container-fluid col-2">
            <div class="container-fluid">
                <div class="media-body">
                    <div class="panel">
                        <div class="panel-body">
                            <div class="form-group">
                                <form asp-controller="Comments" asp-action="Delete" asp-route-commentId="@this.Model.Id" method="post">
                                    <input type="submit" value="Yes" class="btn btn-danger">
                                    <a asp-controller="Home" asp-action="Index" class="btn btn-success">No</a>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
