﻿@model CommentResponseDTO
@inject IUsersService usersService
@inject IAuthManager authManager

@{
    var user = this.usersService.GetByUsername(this.Model.Author);
    var comment = this.Model;

    var currentUser = this.authManager.CurrentUser;

    var userIsLoggedIn = currentUser != null;
    var isAdmin = false;
    if (userIsLoggedIn)
    {
        isAdmin = currentUser.Role == Role.Admin;
    }
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4>
                Comment by <a asp-controller="Users" asp-action="Details" asp-route-userId="@user.Id">@user.Username</a>
                commented on post <a asp-controller="Posts" asp-action="Details">@comment.PostTitle.</a>
            </h4>
        </div>
        <div class="panel-body">
            <div class="media pull-left">
                <div class="pull-left">
                    <a href="#">
                        <img class="media-object img-circle img-comments" src="~/assets/img/user.gif" />
                    </a>
                    <p class="text-default d-inline pull-left"><a>@comment.Author</a></p>
                    <p>@comment.CreatedOn</p>

                </div>
            </div>
            <div class="container-fluid">
                <div class="media-body">
                    <p>@comment.Content</p>

                    @if (userIsLoggedIn)
                    {
                        @if (currentUser.Role == Role.Admin)
                        {
                            <a asp-controller="Comments" asp-action="Delete" asp-route-commentId="@comment.Id" class=" btn btn-danger">Delete</a>
                        }
                        else if (currentUser.Id == user.Id)
                        {
                            <a asp-controller="Comments" asp-action="Edit" asp-route-commentId="@comment.Id" class="btn btn-default">Edit</a>
                            <a asp-controller="Comments" asp-action="Delete" asp-route-commentId="@comment.Id" class="btn btn-danger">Delete</a>
                            <a asp-controller="Home" asp-action="Index">Back to home</a>
                        }
                    }
                </div>
            </div>
        </div>
    </div>
</div>


