﻿@model AllRepliesByCommentViewModel
@inject ICommentsService commentsService
@inject IPostsService postsService
@inject IUsersService usersService
@inject IAuthManager authManager

@{
    var comment = this.commentsService.GetById(this.Model.CommentId);
    var post = this.postsService.GetById(comment.PostId);
    var user = this.usersService.GetById(post.UserId);

    var currentUser = this.authManager.CurrentUser;

    var userIsLoggedIn = currentUser != null;
    var isAdmin = false;
    if (userIsLoggedIn)
    {
        isAdmin = currentUser.Role == Role.Admin;
    }
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-warning">
        <div class="panel-heading">
            <h4>
                All replies to comment by <a asp-controller="Users" asp-action="Details" asp-route-userId="@user.Id">@user.Username</a>
                commented on post <a asp-controller="Posts" asp-action="Details" asp-route-postId="@post.Id">@post.Title</a>
            </h4>
        </div>
        <div class="panel-body">
            <ul class="media-list">
                @foreach (var reply in this.Model.Replies)
                {
                    <li class="media">
                        <div class="pull-left">
                            <a href="#">
                                <img class="media-object img-circle img-comments" src="~/assets/img/user.gif" />
                            </a>
                            <p class="text-default d-inline pull-left"><a>@reply.Author</a></p>
                            <p>@reply.CreatedOn</p>

                        </div>

                        <div class="media-body">
                            <p>@reply.Content</p>

                            @if (userIsLoggedIn)
                            {
                                @if (currentUser.Role == Role.Admin)
                                {
                                    <a asp-controller="Replies" asp-action="Delete" asp-route-replyId="@reply.Id" class=" btn btn-danger">Delete</a>
                                }
                                else if (currentUser.Id == comment.UserId)
                                {
                                    <a asp-controller="Replies" asp-action="Edit" asp-route-replyId="@reply.Id" class="btn btn-default">Edit</a>
                                    <a asp-controller="Replies" asp-action="Delete" asp-route-replyId="@reply.Id" class="btn btn-danger">Delete</a>
                                }
                            }
                        </div>
                    </li>
                }
            </ul>

        </div>
    </div>
</div>


