﻿@model ReplyInputDTO
@inject IPostsService posetsService
@inject ICommentsService commentsService
@inject IAuthManager authManager

@{
    var post = this.posetsService.GetById(this.Model.PostId);

    var comment = this.commentsService.GetById(this.Model.CommentId);

    var currentUser = this.authManager.CurrentUser;
}

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>
                You are writing a reply for the comment left by
                <a asp-controller="Users" asp-action="Details" asp-route-userId="@post.UserId">@currentUser.Username</a>
                for post
                <a asp-controller="Posts" asp-action="Details" asp-route-postId="@this.Model.PostId">@post.Title</a>
            </h2>
        </div>
        <div class="panel-body">
            <div class="media pull-left">
                <div class="pull-left">
                    <a href="#">
                        <img class="media-object img-circle img-comments" src="~/assets/img/user.gif" />
                    </a>
                    <p class="text-info d-inline pull-right"><a>User details</a></p>
                    <p>@comment.CreatedOn.ToShortDateString()</p>
                    @if (currentUser != null && currentUser.Role == Role.Admin)
                    {
                        <a class="btn btn-danger pull-left" href="google.com">Delete post</a>
                    }
                </div>
            </div>
            <div class="media-body container-fluid">
                <h4 class="media-heading"><a asp-controller="Posts" asp-action="Details" asp-route-postId="@post.Id">@post.Title</a></h4>
                <p>@comment.Content</p>
            </div>

            <br />
            <br />
            <div class="panel">
                <div class="panel-body">
                    <form asp-controller="Replies" asp-action="Create" asp-route-commentId="@this.Model.CommentId" method="post">
                        <div class="form-group">
                            <textarea asp-for="@this.Model.Content" class="form-control" rows="5" placeholder="Write your reply here"></textarea>
                            <span asp-validation-for="@this.Model.Content" class="text-danger"></span>
                            <br />
                            <button type="submit" class="btn btn-info">Save</button>
                            <a asp-controller="Home" asp-action="Index" class="btn btn-outline-warning">Go back</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>


    </div>

</div>



