﻿@model ReplyInputDTO
@inject IAuthManager authManager

<div class="col-md-12 col-sm-12 col-xs-12">
    <div class="panel panel-info">
        <div class="panel-heading">
            <h2>
                Update your reply
            </h2>
        </div>
        <br />
        <div class="container-fluid col-2">
            <div class="container-fluid">
                <div class="media-body">
                    <div class="panel">
                        <div class="panel-body">
                            <form asp-controller="Replies" asp-action="Edit" asp-route-replyId="@this.Model.ReplyId" method="post">
                                <div class="form-group">
                                    <textarea asp-for="@this.Model.Content" class="form-control" rows="5">@this.Model.Content</textarea>
                                    <span asp-validation-for="@this.Model.Content" class="text-danger"></span>
                                    <br />
                                    <button type="submit" class="btn btn-info">Save</button>
                                    <a asp-controller="Home" asp-action="Index" class="btn btn-outline-warning">Go back</a>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>